<style>


body {
  background-color: lightblue;
}

h1 {
  color: white;
  background-image: url("112121.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 100px 100px 100px 100px;
}
</style>
