<style>


body {
  background-color: lightblue;
}

h1 {
  color: white;
  background-image: url("https://th.bing.com/th/id/OIP.PMNEmeBz0g-87QqsteG8kAHaEo?w=270&h=180&c=7&r=0&o=5&pid=1.7");

}
</style>
